/*Configure the tab buttons*/
.sheet-input,
.sheet-display {
    display: none;
}


/* show the selected tab */
.sheet-tabstoggle[value="input"] ~ div.sheet-input,
.sheet-tabstoggle[value="display"] ~ div.sheet-display {
    display: block;
}


.mysheet {
    width: 830px;
    height: 830px;
}
.attributes {
    padding: 15px 0px 0px 15px;
}

input[type="hidden"][name="attr_faction"] ~ .mysheet {
    background-color: lightgray;
}
input[type="hidden"][name="attr_faction"][value="Tech"] ~ .mysheet {
    background-color: orange;
}
input[type="hidden"][name="attr_faction"][value="Conglomerate"] ~ .mysheet {
    background-color: grey;
}



main {
  display: grid;
  width: 800px;
  height: 800px;
  grid-gap: 4px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:"common   common    header   header"
                      "common   common    att      att"
                      "weapon   weapon    weapon   weapon"
                      "weapon   weapon    weapon   weapon"
                      "damage   damage    damage   damage";

}





/*----------------- GENERAL CSS ------------------*/

section {
    padding: 5px;
    border-style: solid;
}

/* CSS Flexbox styling, used for adjusting how content inside section behaves */
.f-col {
  display: flex;
  flex-direction: column;
}
.f-row {
  display: flex;
  flex-direction: row;
  justify-items: all;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.nowrap {
  display: flex;
  flex-wrap: nowrap;
}
.f-center {
  align-items: center;
  justify-content: center;
}


/*----------------- Text & Input styling -----------------*/

/* these are for overwriting default CSS that comes from Roll20 */

.charsheet * {
  font-family: "serif;";
}

.charsheet h1{
  text-align: center;
  color: white;
}
.charsheet h2{
  text-align: center;
  color:  darkred;
}
.charsheet h3{
  text-align: center;
  color: black;
}

.charsheet h4{
  text-align: center;
  color: darkred;
}

.charsheet h5{
  text-align: center;
  color: darkred;
}



/*------------- Section-specific CSS -------------*/




.header {
  grid-area: header;
  flex-direction: center;
  border-style: none;
}

.header h3 {
  color: white;
}

.damage {
  grid-area: damage;
  background-color: white;
}


.daminfo{
  grid-area: daminfo;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: white;
  text-align: center;
  align-items: center;
}


.common {
  grid-area: common;
  background-color: white;
}

.common > img {
  object-fit: contain;
  width: 100%;
  max-height: 100%;
}


.att {
  grid-area: att;
  background-color: white;
}

.attinfo {
    grid-area: attinfo;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: white;
    text-align: center;
}

.weapon {
  grid-area: weapon;
  background-color:  white;
}

.weaponinfo{
  grid-area: weaponinfo;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 5fr;
  grid-template-rows: 1fr;
  background-color: white;
  text-align: center;
  align-items: center;
}

/* System 1 */
input[type="hidden"][value="Off"].system1-status ~ .system1{
    display: none;
}
input[type="hidden"][value="Equipped"].system1-status ~ .system1{
    display: grid;
}
.system1 {
    display: grid;
    grid-gap: 1px;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 5fr;
    grid-template-rows: 1;
    background-color: white;
    text-align: center;
    align-items: center;
    padding: 3px;
}

/* System 2 */
input[type="hidden"][value="Off"].system2-status ~ .system2{
    display: none;
}
input[type="hidden"][value="Equipped"].system2-status ~ .system2{
    display: grid;
}
.system2 {
    display: grid;
    grid-gap: 1px;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 5fr;
    grid-template-rows: 1;
    background-color: white;
    text-align: center;
    align-items: center;
    padding: 3px;
}

/* System 3 */
input[type="hidden"][value="Off"].system3-status ~ .system3{
    display: none;
}
input[type="hidden"][value="Equipped"].system3-status ~ .system3{
    display: grid;
}
.system3 {
    display: grid;
    grid-gap: 1px;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 5fr;
    grid-template-rows: 1;
    background-color: white;
    text-align: center;
    align-items: center;
    padding: 3px;
}

/* System 4 */
input[type="hidden"][value="Off"].system4-status ~ .system4{
    display: none;
}
input[type="hidden"][value="Equipped"].system4-status ~ .system4{
    display: grid;
}
.system4 {
    display: grid;
    grid-gap: 1px;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 5fr;
    grid-template-rows: 1;
    background-color: white;
    text-align: center;
    align-items: center;
    padding: 3px;
}

/* System 5 */
input[type="hidden"][value="Off"].system5-status ~ .system5{
    display: none;
}
input[type="hidden"][value="Equipped"].system5-status ~ .system5{
    display: grid;
}
.system5 {
    display: grid;
    grid-gap: 1px;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 5fr;
    grid-template-rows: 1;
    background-color: white;
    text-align: center;
    align-items: center;
    padding: 3px;
}

/* System 6 */
input[type="hidden"][value="Off"].system6-status ~ .system6{
    display: none;
}
input[type="hidden"][value="Equipped"].system6-status ~ .system6{
    display: grid;
}
.system6 {
    display: grid;
    grid-gap: 1px;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 5fr;
    grid-template-rows: 1;
    background-color: white;
    text-align: center;
    align-items: center;
    padding: 3px;
}
