/*Configure the tab buttons*/
.sheet-input,
.sheet-display {
    display: none;
}


/* show the selected tab */
.sheet-tabstoggle[value="input"] ~ div.sheet-input,
.sheet-tabstoggle[value="display"] ~ div.sheet-display {
    display: block;
}


.mysheet {
    width: 830px;
    height: 830px;
}
.attributes {
    padding: 15px 0px 0px 15px;
}

input[type="hidden"][name="attr_faction"] ~ .mysheet {
    background-color: lightgray;
}
input[type="hidden"][name="attr_faction"][value="Tech"] ~ .mysheet {
    background-color: orange;
}
input[type="hidden"][name="attr_faction"][value="Conglomerate"] ~ .mysheet {
    background-color: grey;
}



main {
  display: grid;
  width: 800px;
  height: 800px;
  grid-gap: 4px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:"common   common    header   header"
                      "common   common    att      dam"
                      "weapon   weapon    weapon   weapon"
                      "weapon   weapon    weapon   weapon"
                      "abil     abil      abil      abil"
                      "abil     abil      abil      abil";

}





/*----------------- GENERAL CSS ------------------*/

section {
    padding: 5px;
    border-style: solid;
}

/* CSS Flexbox styling, used for adjusting how content inside section behaves */
.f-col {
  display: flex;
  flex-direction: column;
}
.f-row {
  display: flex;
  flex-direction: row;
  justify-items: all;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.nowrap {
  display: flex;
  flex-wrap: nowrap;
}
.f-center {
  align-items: center;
  justify-content: center;
}


/*----------------- Text & Input styling -----------------*/

/* these are for overwriting default CSS that comes from Roll20 */

.charsheet * {
  font-family: "serif;";
}

.charsheet h1{
  text-align: center;
  color: white;
}
.charsheet h2{
  text-align: center;
  color:  darkred;
}
.charsheet h3{
  text-align: center;
  color: black;
}

.charsheet h4{
  text-align: center;
  color: darkred;
}

.charsheet h5{
  text-align: center;
  color: darkred;
}



/*------------- Section-specific CSS -------------*/




.header {
  grid-area: header;
  flex-direction: center;
  border-style: none;
}

.header h3 {
  color: white;
}

.dam {
  grid-area: dam;
  background-color: white;
}
.dam h4 {
  color: black;
}
.dam h3 {
  color: darkred;
}



.daminfo {
    grid-area: daminfo;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    text-align: center;
}

.common {
  grid-area: common;
  background-color: white;
}

.common > img {
  object-fit: contain;
  width: 100%;
  max-height: 100%;
}


.att {
  grid-area: att;
  background-color: white;
}


.attinfo {
    grid-area: attinfo;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: white;
    text-align: center; 
}


.weapon {
  grid-area: weapon;
  background-color:  white;
}

.weaponinfo{
  grid-area: weaponinfo;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 3fr;
  grid-template-rows: 1fr;
  background-color: white;
  text-align: center;
  align-items: center;
}

.weaponinfo h3{
  color: darkred;
}

/* Weapon 1 */
input[type="hidden"][value="Off"].weapon1-status ~ .weapon1{
    display: none;
}
input[type="hidden"][value="Equipped"].weapon1-status ~ .weapon1{
    display: grid;
}
.weapon1 {
    display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 3fr;
    grid-template-rows: 1;
    background-color: white;
    text-align: center;
    align-items: center;
}

/* Weapon 2 */
input[type="hidden"][value="Off"].weapon2-status ~ .weapon2{
    display: none;
}
input[type="hidden"][value="Equipped"].weapon2-status ~ .weapon2{
    display: grid;
}
.weapon2 {
    display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 3fr;
    grid-template-rows: 1;
    background-color: white;
    text-align: center;
    align-items: center;
}

/* Weapon 3 */
input[type="hidden"][value="Off"].weapon3-status ~ .weapon3{
    display: none;
}
input[type="hidden"][value="Equipped"].weapon3-status ~ .weapon3{
    display: grid;
}
.weapon3 {
    display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 3fr;
    grid-template-rows: 1;
    background-color: white;
    text-align: center;
    align-items: center;
}

/* Weapon 4 */
input[type="hidden"][value="Off"].weapon4-status ~ .weapon4{
    display: none;
}
input[type="hidden"][value="Equipped"].weapon4-status ~ .weapon4{
    display: grid;
}
.weapon4 {
    display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 3fr;
    grid-template-rows: 1;
    background-color: white;
    text-align: center;
    align-items: center;
}

/* Weapon 5 */
input[type="hidden"][value="Off"].weapon5-status ~ .weapon5{
    display: none;
}
input[type="hidden"][value="Equipped"].weapon5-status ~ .weapon5{
    display: grid;
}
.weapon5 {
    display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 3fr;
    grid-template-rows: 1;
    background-color: white;
    text-align: center;
    align-items: center;
}



.abilities {
  grid-area: abil;
  background-color:  white;
}

.abilityinfo{
  grid-area: abilityinfo;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr 3fr 5fr;
  grid-template-rows: 1fr;
  background-color: white;
  text-align: center;
  align-items: center;
}

.abilityinfo h3{
  color: darkred;
}
/* ability 1 */
input[type="hidden"][value="Off"].ability1-status ~ .ability1{
    display: none;
}
input[type="hidden"][value="Equipped"].ability1-status ~ .ability1{
    display: grid;
}
.ability1 {
    display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr 3fr 5fr;
    grid-template-rows: 1;
    background-color: white;
    text-align: center;
    align-items: center;
}

/* ability 2 */
input[type="hidden"][value="Off"].ability2-status ~ .ability2{
    display: none;
}
input[type="hidden"][value="Equipped"].ability2-status ~ .ability2{
    display: grid;
}
.ability2 {
    display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr 3fr 5fr;
    grid-template-rows: 1;
    background-color: white;
    text-align: center;
    align-items: center;
}

/* ability 3 */
input[type="hidden"][value="Off"].ability3-status ~ .ability3{
    display: none;
}
input[type="hidden"][value="Equipped"].ability3-status ~ .ability3{
    display: grid;
}
.ability3 {
    display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr 3fr 5fr;
    grid-template-rows: 1;
    background-color: white;
    text-align: center;
    align-items: center;
}

/* ability 4 */
input[type="hidden"][value="Off"].ability4-status ~ .ability4{
    display: none;
}
input[type="hidden"][value="Equipped"].ability4-status ~ .ability4{
    display: grid;
}
.ability4 {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr 5fr;
    grid-template-rows: 1;
    background-color: white;
    text-align: center;
    align-items: center;
  grid-gap: 2px;
}

/* ability 5 */
input[type="hidden"][value="Off"].ability5-status ~ .ability5{
    display: none;
}
input[type="hidden"][value="Equipped"].ability5-status ~ .ability5{
    display: grid;
}
.ability5 {
    display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr 3fr 5fr;
    grid-template-rows: 1;
    background-color: white;
    text-align: center;
    align-items: center;
}
