@import url('https://fonts.googleapis.com/css?family=Bokor|Arsenal&display=swap');

/*Configure the tab buttons*/
.sheet-input,
.sheet-display,
.sheet-abilities {
    display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="input"] ~ div.sheet-input,
.sheet-tabstoggle[value="display"] ~ div.sheet-display,
.sheet-tabstoggle[value="abilities"] ~ div.sheet-abilities {
    display: block;
}


.mysheet {
    width: 830px;
    height: 480px;
}
.bits {
    padding: 15px 0px 0px 15px;
}

input[type="hidden"][name="attr_faction"] ~ .mysheet {
    background-color: lightgray;
}
input[type="hidden"][name="attr_faction"][value="Syndicate"] ~ .mysheet {
    background-color: red;
}
input[type="hidden"][name="attr_faction"][value="Consortium"] ~ .mysheet {
    background-color: #123293;
}







main {
  display: grid;
  width: 800px;
  height: 450px;
  grid-gap: 4px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:"header   common"
                      "ab   common"
                      "attr     weap"
                      "attr     weap";
}





/*----------------- GENERAL CSS ------------------*/

section {
    padding: 5px;
      align-items: center;

}

/* CSS Flexbox styling, used for adjusting how content inside section behaves */
.f-col {
  display: flex;
  flex-direction: column;
}
.f-row {
  display: flex;
  flex-direction: row;
  justify-items: all;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.nowrap {
  display: flex;
  flex-wrap: nowrap;
}
.f-center {
  align-items: center;
  justify-content: center;
}


/*----------------- Text & Input styling -----------------*/

/* these are for overwriting default CSS that comes from Roll20 */

.charsheet * {
    font-family: "serif;";
  }
  
  .charsheet h1{
    text-align: center;
    color: black;
  }
  .charsheet h2{
    text-align: center;
    color:  black;
  }
  .charsheet h3{
    text-align: center;
    color: darkred;
  }
  
  .charsheet h4{
    text-align: center;
    color: darkred;
  }
  
  .charsheet h5{
    text-align: center;
    color: darkred;
  }


/*------------- Section-specific CSS -------------*/


.header {
  grid-area: header;
  align-items: center;
  justify-content: center;
  background-color: white;

}


.attr {
  grid-area: attr;
  background-color: white;
  align-items: center;

}
.attr h4 {
  text-align: center;
  color: black;
}




.attrinfo{
  grid-area: attrinfo;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  background-color: white;
  text-align: center;
  align-items: center;
}

.common {
  grid-area: common;
  background-color: white;
  align-items: center;

}

.common > img {
    object-fit: contain;
    width: 100%;
    max-height: 100%;
    align-self: center;
    justify-self: center;
}

.ab {
  grid-area: ab;
  background-color: white;
    align-items: center;

}


.weap {
  grid-area: weap;
  background-color: white;
    align-items: center;

}

.weaponinfo {
  grid-area: weaponinfo;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  background-color: white;
  text-align: center;
  align-items: center;
}


/* Weapon 1 */
input[type="hidden"][value="Off"].weapon1-status ~ .weapon1{
    display: none;
}

.weapon1 {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    background-color: white;
    text-align: center;
    align-items: center;
    padding: 3px;
}

/* Weapon 2 */
input[type="hidden"][value="Off"].weapon2-status ~ .weapon2{
    display: none;
}

.weapon2 {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    background-color: white;
    text-align: center;
    align-items: center;
    padding: 3px;
}

/* Weapon 3 */
input[type="hidden"][value="Off"].weapon3-status ~ .weapon3{
    display: none;
}

.weapon3 {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    background-color: white;
    text-align: center;
    align-items: center;
    padding: 3px;
}




.specials {
  grid-area: specials;
  background-color: white;
}

.spheader {
  text-align: center;
}

.spheader h2 {
  text-align: center;
  color: white;
}

input[type="hidden"][name="attr_nation"]:is([value="Canada"]) ~ .spheader h2 {
  color: black;
}

.spbody h4 {
  color: white;
}
input[type="hidden"][name="attr_nation"]:is([value="Canada"]) ~ .spbody {
  color: black;
}


.item span {
  font-size: 14px;
}

.spbody {
  color: white;
  align-items: center;
  text-align: center;
  padding: 0px 0px 0px 20px;
}

.item {
  align-items: center;
  width: fit-content;
  padding: 5px;
  text-align: left;
  margin-bottom: 1em;
}
